.header {
    padding: 1px;
    padding-left: 10px;
    text-align: left;
    background: #333333;
    color: white;
    font-size: 20px;
  }

  .gradient-background {
    background: linear-gradient(45deg,#800020,#008080,#556B2F);
    background-size: 180% 180%;
    animation: gradient-animation 3s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
